extends layout.pug 

block title 
    title Artists

block script 
 
block style 
    include ../static/styles/artists.css

block content 
 section
  #artists
    a.artist(href='/artist?id=6163d7feb1cdaee2641ab782')
      img.pic(src='https://firebasestorage.googleapis.com/v0/b/sortify-1.appspot.com/o/artists%2Fbillie.png?alt=media&token=78ce9b63-65c5-45b1-be5f-40ba2c2febc1' alt='')
      |                 Billie Eilish
    a.artist(href='/artist?id=6163d8cfb1cdaee2641ab783')
      img.pic(src='https://firebasestorage.googleapis.com/v0/b/sortify-1.appspot.com/o/artists%2Fdua.png?alt=media&token=0f8a37ba-c490-4b5d-ba2d-482e361e9f9b' alt='')
      |                 Dua Lipa
    a.artist(href='/artist?id=6163d9f9b1cdaee2641ab784')
      img.pic(src='https://firebasestorage.googleapis.com/v0/b/sortify-1.appspot.com/o/artists%2Fed.png?alt=media&token=b52ebb51-535a-4530-bad2-16e064caf542' alt='')
      |                 Ed Sheeran
    a.artist(href='/artist?id=6163da18b1cdaee2641ab785')
      img.pic(src='https://firebasestorage.googleapis.com/v0/b/sortify-1.appspot.com/o/artists%2Fhalsey.png?alt=media&token=6fabb567-5f75-47c7-9208-070ef401b110' alt='')
      |                 Halsey
    a.artist(href='/artist?id=6163da53b1cdaee2641ab786')
      img.pic(src='https://firebasestorage.googleapis.com/v0/b/sortify-1.appspot.com/o/artists%2Fselena.png?alt=media&token=1a837bfc-d50f-4514-b6cd-b777af7d4436' alt='')
      |                 Selena Gomez
    a.artist(href='/artist?id=6163daabb1cdaee2641ab787')
      img.pic(src='https://firebasestorage.googleapis.com/v0/b/sortify-1.appspot.com/o/artists%2Fshawn.png?alt=media&token=9f04d285-b71f-4b76-92c2-2ed3d432e8cd' alt='')
      |                 Shawn Mendes
    a.artist(href='/artist?id=6163dae4b1cdaee2641ab788')
      img.pic(src='https://firebasestorage.googleapis.com/v0/b/sortify-1.appspot.com/o/artists%2Fsia.png?alt=media&token=1968d5fd-2e5d-4338-8259-05848a9d5c00' alt='')
      |                 Sia
    a.artist(href='/artist?id=6163db04b1cdaee2641ab789')
      img.pic(src='https://firebasestorage.googleapis.com/v0/b/sortify-1.appspot.com/o/artists%2Fweeknd.png?alt=media&token=f913ba50-52a0-4e67-8348-14bba72a71e6' alt='')
      |                 The Weeknd
    a.artist(href='/artist?id=6163db37b1cdaee2641ab78a')
      img.pic(src='https://firebasestorage.googleapis.com/v0/b/sortify-1.appspot.com/o/artists%2Fzayn.png?alt=media&token=605d16f1-5699-428d-9583-c99bb94abe5c' alt='')
      |                 Zayn