extends layout.pug 

block title 
    title #{name}

block script 
    script(src="../static/scripts/artist.js")
 
block style 
    include ../static/styles/artist.css

block content 
 section
  #container 
   #artistinfo
    img#artistimg(src="../static/imgs/icons/def_artist_img.png", alt="")
    #artistname
     | #{name}
    #numtracks 
     | ‎ 
   hr
   ul#tracks
   
  #player
   p#current_song
    | ‎ 
   #controls 
    img#prev.ctrl(src="../static/imgs/icons/next.png", alt="next", onclick="prev()")
    audio#audio(controls='', autoplay=False, controlsList="nodownload", onended="next()")
     source#audiourl(src="" type="audio/mpeg") 
    img#next.ctrl(src="../static/imgs/icons/next.png", alt="next", onclick="next()")
    