extends layout2.pug 

block title 
    title Sortify- Artists

block script 
    script(src="../static/scripts/artists.js")
 
block style 
    include ../static/styles/artists.css

block content 
 section
  #artists
    