extends layout2.pug

block title 
    title Sortify- Home

block script 
    script(src="../static/scripts/home.js")

block style 
    include ../static/styles/home.css

block content 
    #content 

     #banner
      #greet
       |
      #logout(onclick='logout()')
       |Logout

     
    
     #utility
      #subhead
       |Quick links:
      a#favorite_s.tile(href="/favorite-songs")
       |Favorite Songs
      a#my_playlists.tile(href="/playlists")
       |My Playlists
   
     #dateTime
      img#expand(src="../static/imgs/icons/expand.png", alt="" onclick='expand(this)')
      #time 
       |
      #date 
       |
      img#collapse(src="../static/imgs/icons/collapse.png", alt="" onclick='collapse(this)')
