extends layout2.pug 

block title 
    title Playlist #{number}

block script 
    script(src="../static/scripts/playlist.js")
 
block style 
    include ../static/styles/playlist.css

block content 
 section
  #container
   #heading
    #title
     | Playlist #{number}
    #right
     img#sort.headIcon(src="../static/imgs/icons/unsorted.png", alt="", onclick='sortList()')
     img#shuffle.headIcon(src="../static/imgs/icons/no-shuffle.png", alt="", onclick='shufflePlay(this)')
     #num_tracks 
      |0 tracks
   hr
   #number 
    |#{number}

   ul#tracks
   
  #options
   #selected_song 
    |
   #selected_song_artist
    |
   ul 
    li.op(onclick='remove()')
     |Remove from this Playlist
    li.op(onclick='add()')
     |Add to Favorites 

  #player
   p#current_song
    |
   #controls 
    img#prev.ctrl(src="../static/imgs/icons/next.png", alt="next", onclick="prev()")
    audio#audio(controls='', autoplay=False, controlsList="nodownload", onended="next()")
     source#audiourl(src="" type="audio/mpeg") 
    img#next.ctrl(src="../static/imgs/icons/next.png", alt="next", onclick="next()")

   img#collapse(src="../static/imgs/icons/collapse.png", alt="", onclick='collapse(this)')