extends layout.pug 

block title 
    title Playlists

block script 

block style 
    include ../static/styles/playlists.css

block content
 section#content
  #pp
    h2 Public Playlists
    div
      | (
      a(href='/sign-in') Sign-in
      |  to see your private playlists)
  section#playlists
    p --- no public playlists available right now ---