extends layout2.pug 

block title 
    title Sortify- Playlists

block script 
    script(src="../static/scripts/playlists.js")

block style 
    include ../static/styles/playlists.css

block content
 section#content
  
    
  section#playlists
    p#p My Playlists
    hr
    ul#list 
     li.li
      a(href="/playlist?playlist=1")
       |Playlist 1
       #p1.p
        |this playlist is empty
     li.li
      a(href="/playlist?playlist=2")
       |Playlist 2
       #p2.p
        |this playlist is empty
     li.li
      a(href="/playlist?playlist=3")
       |Playlist 3
       #p3.p
        |this playlist is empty
       
    hr