extends layout.pug 

block title 
    title Sign-Up Successful

block script

block style 
    include ../static/styles/signupsuccess.css

block content 
 section 
  #content
   | Hi #{name}, your account has<br>been successfully created!<br>
   a(href="/") Sign-In 