doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Unavailable
style.
  body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(220, 120, 220);
  margin-top: 100px;
  }
  #message{
  text-align: center;
  font-size: 50px;
  }
  #home img{
  height: 60px;
  }
#message
  | Kya karega re jaan k? chup chap gaanne sun!
#home
  a(href='/')
    img(src='../static/imgs/icons/goback.png' alt='home')