doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title About
style.
  body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(220, 120, 220);
  margin-top: 100px;
  }
  #message{
  text-align: center;
  font-size: 50px;
  }
  
#message
  | This is an experimental website developed by<br>Yuvraj Chakraverty (Student at MAIT (GGSIPU University)).<br>Some features might not be available as of now.
