doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Sortify- Contact Us
  link(rel='icon' type='image/png' href='../static/imgs/icons/favicon.png')
  script(src="../static/scripts/footer-link.js")
  style 
   include ../static/styles/footer-link.css
  
#message
  //- | Use the social platform<br>links provided in the footer<br>to contact the developer.<br>
  | To contact Yuvraj Chakraverty,<br>follow the given links:<br>
  a(href='https://www.linkedin.com/in/yuvraj-chakraverty/' target='_blank') • LinkedIn -><br>
  a(href='https://github.com/YuvrajChakraverty' target='_blank') • GitHub -><br>
  a(href='https://www.instagram.com/yuvraj_0310/' target='_blank') • Instagram ->
  #back(onclick="back()")
   | Go back 

