doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Sortify- Technologies
  link(rel='icon' type='image/png' href='../static/imgs/icons/favicon.png')
  script(src="../static/scripts/footer-link.js")
  style 
   include ../static/styles/footer-link.css
  
#message
  | Tools/Technologies<br>used in development:<br>
  #tools
   |• Front-end: HTML5, CSS3, JavaScript<br>• Back-end: NodeJS, Express, Mongoose, Pug<br>• Database: MongoDB Atlas<br>• Cloud Storage: Google Cloud Platform
  #tech_note 
   |Note: Since this website makes use of pure JavaScript,<br>the audio will stop playing on navigating or reloading a page.
  #back(onclick="back()")
   | Go back

