@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

#container{
    min-height: 640px;
    /* background: rgba(80, 163, 80, 0.82); */
    background-image: linear-gradient(rgba(80, 163, 80, 0.82) 0%, rgb(140, 120, 170) 110%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Manrope', sans-serif;
}

.container{
    width: 550px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 1px 1px gray;
}

.no{
    color: rgb(86, 86, 86);
}

#favArtHeading{
    font-size: 20px;
    margin-bottom: 5px;
}

#artists{
    padding: 10px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    min-height: 100px;
}

#noArtists{
    height: 100px;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.artist{
    font-size: 14px;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 5px 0px 3px 0px;
}

.artist:hover{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px rgb(155, 155, 155);
}

.pic{
    height: 75px;
    margin-bottom: 3px;
}

#favSongs{
    text-decoration: none;
    pointer-events: none;
    margin: 80px 0px 30px 0px;
}

#songs{
    height: 100px;
    margin: 0px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: black;
    border-radius: 15px;
}

#songs:hover{
    background: rgba(255, 255, 255, 0.3);
}

#a{
    display: none;
    font-size: 30px;
}

#b{
    display: none;
    font-size: 30px;
}


#layout2Favorites{
    border-bottom: 3px solid rgb(81, 194, 115);
}