@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

#content{
    background: rgba(80, 163, 80, 0.82);
    /* background-image: linear-gradient(rgba(80, 163, 80, 0.82) 0%, rgb(140, 120, 170) 110%); */
    height: 640px;
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#banner{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background: rgb(140, 120, 170);
    /* background: rgb(80, 170, 90); */
    height: 50px;
    box-sizing: border-box;
}

#greet{
    font-size: 30px;
    text-shadow: 2px 1px rgb(80, 170, 90);
    /* text-shadow: 2px 1px rgb(140, 120, 170); */
}

#logout{
    cursor: pointer;
}

/*  */

#subhead{
    font-size: 30px;
}

#utility{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
}

.tile{
    color: black;
    font-size: 32px;
    height: 120px;
    width: 280px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 2px 2px green;
}

.tile:hover{
    background: rgba(255, 255, 255, 0.3);
}

#dateTime{
    height: 120px;
    box-sizing: border-box;
    padding: 7px 20px;
    /* background: rgb(140, 120, 170); */
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    border-radius: 10px;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 1px 1px rgb(140, 120, 170);
    visibility: hidden;
}

#date{
    font-size: 15px;
    text-shadow: none;
}

#expand{
    cursor: pointer;
    height: 32px;
    width: 32px;
    margin-top: -32px;
    display: none;
}

#collapse{
    cursor: pointer;
    margin-top: 10px;
    height: 30px;
    width: 30px;
}

#layout2Home{
    border-bottom: 3px solid rgb(81, 194, 115);
}
